POSTGRES_DB=doctech_ai
POSTGRES_USER=doctech_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5433

DB_URL=jdbc:postgresql://127.0.0.1:5433/doctech_ai
DB_USERNAME=doctech_user
DB_PASSWORD=change_me
SERVER_PORT=8080

GEMINI_API_BASE_URL=https://generativelanguage.googleapis.com
GEMINI_API_KEY=change_me
GEMINI_MODEL=gemini-2.5-flash
